{#
/**
 * @file
 * Default theme implementation for the cart items review form.
 *
 * Available variables:
 * - element: The form element.
 * - ajaxid: Ajax ID for the replacement wrapper.
 * - top_label: Label for the top-level label.
 *
 * @ingroup themeable
 */
#}

<div id="{{ ajaxid }}">

  <table class="tmgmt-partial-cart-items-review" style="width: inherit;">

    <thead>
    <tr>
      <th colspan="2">{{ top_label }}</th>
      <th class="select-all"></th>
    </tr>
    </thead>

    {% for group_key, group in element %}
      {% if group_key|first != '#' %}
        <tbody>
        {% if group['#group_label'] %}
          <tr>
            <th colspan="4">{{ group['#group_label']|join(' > ') }}</th>
          </tr>
        {% endif %}

        {% for key, item in group %}
          {% if key|first != '#' %}
            <tr>
              <td class="tmgmt-ui-data-item-label">
                <div class="form-item form-type-label">
                  <label>{{ item.label }}</label>
                </div>
              </td>
              <td class="tmgmt-ui-data-item-source">
                {{ item.source }}
              </td>
              <td class="tmgmt-ui-data-item-actions">
                {{ item.actions }}
              </td>
            </tr>

          {% endif %}
        {% endfor %}

        </tbody>
      {% endif %}
    {% endfor %}

  </table>

</div>

